.page-wrapper {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: #283645;
    background-color: #fff;
}
a {
    text-decoration: none;
    color: #283645;
}
.small {
    font-size: 12px;
    line-height: 27px;
}
.middle {
    font-size: 14px;
    color: #283645;
}
.middle-up {
    font-size: 14px;
    text-transform: uppercase;
    color: #d22856;
}
.large-bold {
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
}
.large {
    font-size: 18px;
    font-style: normal;
}
.huge {
    font-size: 24px;
    font-weight: 100;
}
.extra-huge {
    font-size: 30px;
    font-weight: 900;
}
.pink {
    color: #d22856;
}

input,
input::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color: #283645;
}
input::-moz-input-placeholder {
    font-size: 18px;
    font-weight: 500;
    color: #283645;
}