
icon-android-logo {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/android-logo.png');
  background-repeat: no-repeat;
  width: 42px;
  height: 47px;
}



icon-apple-logo {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/apple-logo.png');
  background-repeat: no-repeat;
  width: 46px;
  height: 57px;
}



icon-blog-post-icon {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/blog-post-icon.png');
  background-repeat: no-repeat;
  width: 28px;
  height: 26px;
}



icon-facebook {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/facebook.png');
  background-repeat: no-repeat;
  width: 9px;
  height: 19px;
}



icon-htmlacademy {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/htmlacademy.png');
  background-repeat: no-repeat;
  width: 27px;
  height: 34px;
}



icon-logotype-blue-desktop {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/logotype-blue-desktop.png');
  background-repeat: no-repeat;
  width: 146px;
  height: 40px;
}



icon-logotype-blue-tablet {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/logotype-blue-tablet.png');
  background-repeat: no-repeat;
  width: 146px;
  height: 40px;
}



icon-logotype-white-desktop {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/logotype-white-desktop.png');
  background-repeat: no-repeat;
  width: 146px;
  height: 40px;
}



icon-logotype-white-mobile {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/logotype-white-mobile.png');
  background-repeat: no-repeat;
  width: 74px;
  height: 23px;
}



icon-logotype-white-tablet {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/logotype-white-tablet.png');
  background-repeat: no-repeat;
  width: 146px;
  height: 40px;
}



icon-map-marker {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/map-marker.png');
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
}



icon-menu-burger {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/menu-burger.png');
  background-repeat: no-repeat;
  width: 50px;
  height: 24px;
}



icon-menu-cross {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/menu-cross.png');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}



icon-microsoft-logo {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/microsoft-logo.png');
  background-repeat: no-repeat;
  width: 44px;
  height: 42px;
}



icon-no {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/no.png');
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
}



icon-quotes {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/quotes.png');
  background-repeat: no-repeat;
  width: 79px;
  height: 64px;
}



icon-review-arrow-left {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/review-arrow-left.png');
  background-repeat: no-repeat;
  width: 22px;
  height: 42px;
}



icon-review-arrow-right {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/review-arrow-right.png');
  background-repeat: no-repeat;
  width: 22px;
  height: 42px;
}



icon-timer {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/timer.png');
  background-repeat: no-repeat;
  width: 298px;
  height: 345px;
}



icon-triangle-white-footer {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/triangle-white-footer.png');
  background-repeat: no-repeat;
  width: 100px;
  height: 62px;
}



icon-triangle-white {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/triangle-white.png');
  background-repeat: no-repeat;
  width: 100px;
  height: 94px;
}



icon-twitter {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/twitter.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 15px;
}



icon-yes {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/yes.png');
  background-repeat: no-repeat;
  width: 30px;
  height: 22px;
}



icon-youtube {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../png/youtube.png');
  background-repeat: no-repeat;
  width: 15px;
  height: 14px;
}


