

@ff-base: "Open Sans", sans-serif;
@fz-base: 14px;
@lh-base: 30px;




.large-text(@fsize: 18px; @fweight: 900; @fstyle: normal; @ttransform: none; @line-height: 30px) {
    font-size: @fsize;
    font-weight: @fweight;
    font-style: @fstyle;
    text-transform: @ttransform;
    line-height: @line-height;
}






.huge-text(@fsize: 24px; @fweight: 100; @fs: normal; @ttransform: none; @line-height: 28px) {
    font-size: @fsize;
    font-weight: @fweight;
    font-style: @fs;
    text-transform: @ttransform;
    line-height: @line-height;
}













