.article-preview {
  adding: 24px 0 8px 0;
  border-bottom: 1px solid @border-color;





  &__title {
    margin-top: 0;
    margin-bottom: 2px;
    text-align: left;
    .large-text(@line-height: 27px);
  }






  &__link {
    text-decoration: none;
    color: @color-base;
    .large-text(@line-height: 27px);
  }





  &__date {
    display: block;
    text-align: left;
    font-size: 12px;
    line-height: 27px;
    text-transform: uppercase;
    color: @color-decor;
  }





  &__text {
    line-height: 27px;
    text-align: left;
  }




  &--indent {
    padding: 26px 0 11px 0;
  }




  &--indent-last {
    padding: 28px 0 11px 0;
    border-bottom: none;
  }
}
