.benefits {
  overflow: hidden;
  padding-top: 8px;






  &__item {
    margin-bottom: 27px;
  }




  &__title {
    margin-bottom: 10px;
    .large-text;
  }





  &__text {
    margin-top: 0;
    line-height: 24px;
  }





  &__picture-wrap {
    width: 160px;
    height: 278px;
    margin: 41px auto 0 auto;
    overflow: hidden;




    img {
      .img-sets;

    }
  }
  &__picture-wrap-lx {
    display: none;
  }
}




@media(min-width: 700px) {
  .benefits {
    position: relative;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    min-height: 424px;
    overflow: visible;




    &__picture-wrap-lx {
      display: none;
    }




    &__item {
      width: 50%;
      padding-right: 10px;
      text-align: left;
      margin-bottom: 0;
    }





    &__picture-wrap {
        width: 270px;
        height: 483px;
        position: absolute;
        bottom: 0;
        left: 0;
    }





    &__picture {
      .img-sets;
    }
  }
}




@media(min-width: 960px) {
  .benefits {
    min-height: 483px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;




    &__item {
      margin-left: 30px;
      margin-right: 30px;
      position: relative;
    }




    &__picture-wrap-lx {
      display: inline-block;
      width: 289px;
      height: 310px;
      margin: 41px auto 0 auto;
      overflow: hidden;
      position: absolute;
      bottom: 265px;
      left: -17px;
    }



    &__picture {
      width: auto;
    }




    &__title {
      margin-bottom: 23px;
      font-size: 30px;
      line-height: 30px;
      font-weight: 800;
      color: @color-super-dark;
      text-align: center;
    }



    &__text {
      text-align: center;
      .large-text(@fweight: 400;);
    }



    &__picture-wrap {
      display: none;
    }
  }
}
