.benefits {
  overflow: hidden;
  padding-top: 8px;






  &__item {
    margin-bottom: 27px;
  }




  &__title {
    margin-bottom: 10px;
    .large-text;
  }





  &__text {
    margin-top: 0;
    line-height: 24px;
  }





  &__picture-wrap {
    width: 160px;
    height: 278px;
    margin: 41px auto 0 auto;
    overflow: hidden;




    img {
      .img-sets;

    }
  }
}




@media(min-width: 700px) {
  .benefits {
    position: relative;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    overflow: visible;
    &:before {
      position: absolute;
      content: " ";
      top: -52px;
      left: 1px;
      width: 300px;
      height: 480px;
      background: url(../img/iphone-tablet.png) no-repeat;
    }







    &__item {
      width: 50%;
      padding-right: 10px;
      text-align: left;
      margin-bottom: 0;
    }





    &__picture-wrap {
      display: none;
    }





    &__picture {
      display: none;
    }
  }
}
