.contacts {
    &__title {
        margin: 0;
    }
    &__text {
        margin: 0;

        color: @color-decor;
        padding-bottom: 31px;
    }
    &__link {
        color: @color-decor;
    }
}