.contacts {
        margin-bottom: 40px;





    &__title {
        margin: 0;
        .large-text;
    }






    &__text {
        margin: 0 0 16px 0;
        color: @color-decor;
        .huge-text(@line-height: 29px);
    }






    &__link {
        display: block;
        margin-bottom: 21px;
        color: @color-decor;
        .huge-text(@line-height: 29px);
        text-decoration: none;
    }
}




@media(max-media: 700px) {
    .contacts {
        &__title {}
        &__text {}
        &__link {}
    }

}