.download {
  background-color: @bg-header;
  padding: 28px 0 16px 0;
  .cf;




  &__btn {
    display: block;
    width: 100%;
    height: 55px;
    margin: 0 auto 40px auto;
    border: 3px solid @color-light;
    padding: 14px 22px 17px 22px;
    .large-text(@line-height: 18px; @fweight: 300);
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 50px;
    color: @color-light;
    &:active {
        background-color: @color-light;
        color: rgba(210, 40, 86, .3);
        .transition;
      }
  }





  &__text {
    line-height: 24px;
    font-weight: 300;
    color: @color-light;
  }





  &__icon {
    display: table;
    height: 60px;
    margin-bottom: 10px;
    padding: 0;
  }




  &__item {
    display: table-cell;
    width: auto;
    height: 60px;
    padding-left: 0px;
    vertical-align: bottom;
    text-align: center;

    i {
      position: relative;
      display: table-cell;
      height: 60px;
      width: 280px;
    }
  }
}








@media(min-width: 700px) {
  .download {
    background: none;
    overflow: visible;
    padding-top: 31px;
    padding-bottom: 92px;




    &__btn {
      width: 280px;
      margin-left: 0;
      margin-bottom: 53px;
      padding: 14px 9px;
      display: flex;
      flex-direction: row;
      text-align: center;
      font-size: 21px;
      line-height: 18px;
      font-weight: 800;
    }





    &__icon {
      width: 280px;
      margin-left: 10px;
      margin-bottom: 23px;
      display: flex;
      flex-direction: row;
    }





     &__text {
      width: 305px;
      display: flex;
      flex-direction: row;
      font-size: 18px;
      line-height: 24px;
      font-weight: 300;
    }
  }
}




@media(min-width: 960px) {
  .download {
    padding-top: 48px;
    padding-bottom: 105px;

    &__btn {
      width: 300px;
      margin-bottom: 75px;
      padding-left: 15px;
      padding-right: 15px;

       &:hover {
        background-color: @color-light;
        color: @color-decor;
        .transition;
      }

      &:active {
        background-color: @color-light;
        color: rgba(210, 40, 86, .3);
        .transition;
      }
    }




    &__icon {
      margin-bottom: 43px;
    }
  }
}
