.download {
  background-color: @bg-header;
  padding: 28px 0 16px 0;
  .cf;




  &__btn {
    display: block;
    width: 280px;
    height: 55px;
    margin: 0 auto 32px auto;
    border: 3px solid @color-light;
    padding: 14px 22px 17px 22px;
    .large-text(@line-height: 18px; @fweight: 300);
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 50px;
    color: @color-light;



    &:active {
      background-color: @color-light;
      color: rgba(210, 40, 86, .3);
      .transition;
    }
  }





  &__text {
    line-height: 24px;
    font-weight: 300;
    color: @color-light;
  }





  &__icon {
    width: 270px;
    height: 60px;
    margin: 0 auto 18px auto;
    padding: 0;
    list-style: none;
    li:nth-child(2) {
      padding-top: 7px;
    }
    li:nth-child(3) {
      padding-top: 10px;
    }
  }




  &__item {
    display: inline-block;
    height: 60px;
    padding: 0 16px 0 16px;
    vertical-align: bottom;
    font-size: 0;
  }
}








@media(min-width: 700px) {
  .download {
    background: none;
    overflow: visible;
    padding-top: 31px;
    padding-bottom: 92px;




    &__btn {
      width: 280px;
      margin-left: 0;
      margin-bottom: 46px;
      padding: 14px 9px;
      font-size: 21px;
      line-height: 18px;
      font-weight: 800;
    }





    &__icon {
      width: 280px;
      margin-left: 0;
      margin-bottom: 33px;
    }





     &__text {
      width: 305px;
      font-size: 18px;
      line-height: 24px;
      font-weight: 300;
    }
  }
}




@media(min-width: 960px) {
  .download {
    padding-top: 48px;
    padding-bottom: 105px;

    &__btn {
      width: 300px;
      margin-bottom: 68px;
      padding-left: 15px;
      padding-right: 15px;

       &:hover {
        background-color: @color-light;
        color: @color-decor;
        .transition;
      }

      &:active {
        background-color: @color-light;
        color: rgba(210, 40, 86, .3);
        .transition;
      }
    }




    &__icon {
      margin-bottom: 50px;
    }
  }
}
