.form-counter {
  width: 100%;
  height: 64px;
  margin-bottom: 8px;
  display: flex;
  flex-wrap: nowrap;



  &__minus {
    flex: none;
    width: 63px;
    height: 63px;
    border: 2px solid @border-color;
    .hide-text;
    background: url(../img/icon-minus.png) no-repeat 50% 50%;
    cursor: pointer;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: @color-light;
  }





  &__field {
    flex-grow: 1;
    height: 63px;
    .border;
    border-right: transparent;
    border-left: transparent;
    background-color: @bg-decor;
  }






  &__plus {
    flex: none;
    width: 63px;
    height: 63px;
    .border;
    .hide-text;
    background: url(../img/icon-plus.png) no-repeat 50% 50%;
    cursor: pointer;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: @color-light;
  }
}





@media(min-width: 700px) {
  .form-counter {
    width: 240px;
    &__label {
      text-align: center;
      padding-left: 0;
    }

    &__field {
      background-color: @color-light;
    }
    &--width {
      width: 252px;
      margin-bottom: 0;

      .form-counter__field {
        border-top: transparent;
        border-bottom: transparent;
      }
    }
  }
}
