.headline {
  width: 100%;
  min-height: 66px;
  background-color: rgba(0, 0, 0, .3);





  &__logo {
    position: relative;
    float: left;
    display: block;
    width: 83px;
    height: 66px;
    padding: 21px 0;
    .hide-text;

    &::before {
      position: absolute;
      top: 20px;
      left: 0;
      content: " ";
      width: 75px;
      height: 25px;
      background: url(../img/icon-logo-white.png) no-repeat;
    }
  }
}





@media(min-width: 700px) {
  .headline {
    height: 110px;
    padding: 25px 0;
  }
}
