
 .icon-android {
            position: relative;
            display: block;





        &::before {
            position: absolute;
            content: " ";
            top: 0;
            left: 29%;
            height: 47px;
            width: 43px;
            background: url(../img/sprites-index.png) -333px -127px no-repeat;

        }
}


