
.icon-apple {
            position: relative;
            display: block;




        &::before {
            position: absolute;
            content: " ";
            top: -17%;
            left: 40%;
            width: 46px;
            height: 57px;
            background: url(../img/sprites-index.png) -181px -119px no-repeat;
        }
}
