.icon {
  .hide-text;
}


.ribbon {
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    display: block;
    width: 74px;
    height: 73px;
    background: url(../img/ribbon.png) no-repeat;
    z-index: 2000;
  }
}

@media(min-width: 700px) {
  .ribbon {
    &:before {
      background-image: url(../img/ribbon-tablet.png)
    }
  }
}



@media(min-width: 960px) {
  .ribbon {
    &:before {
      background-image: url(../img/ribbon.png)
    }
  }
}
