.map {
    position: relative;
    width: 320px;
    height: 200px;
    margin: 0 auto;
    background: #fff url("../img/map.jpg") no-repeat 50% 50%;





    &__map-pin {
      position: relative;
      top: 112px;
      left: 144px;
      width: 35px;
      height: 35px;
      background:  @color-decor;
      border: 10px solid @color-light;
      border-radius: 50%;
    }
}
