.map {
  width: 100%;
  position: relative;
  height: 92px;
  margin: 0 auto;
  background: #fff url("../img/map-sm.jpg") no-repeat 50% 50%;
  background-size: 100%;



  //&__map-pin {
    //position: relative;
    //top: 112px;
    //left: 144px;
    //width: 35px;
    //height: 35px;
    //background:  @color-decor;
    //border: 10px solid @color-light;
    //border-radius: 50%;
  //}
}





@media(min-width: 700px) {
  .map {
    height: 378px;
    background-image: url("../img/map-mx-lx.jpg");
  }
}
