.nav-menu {
        background-color: @color-base;
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__item {
        min-height: 1px;
        padding: 26px 0 25px 0;
        border-top: 1px solid @color-dark;
        border-bottom: 1px solid @color-shade;
    }
    &__link {
        color: @color-light;
    }
}

