.page-header {
            background-color: @bg-header;
            background: url(../img/pic-bg.jpg), no-repeat;
            background-size: 100% 100%;





        &__container-top {

        }





    &__title {
            color: @color-light;
            margin-top: 17px;
            margin-bottom: 31px;
            .huge-text (@fweight: 500);
    }





    &__pic {
            vertical-align:bottom;
    }


}