.page-header {
    background-color: @bg-header;
    background: url(../img/pic-bg.jpg) no-repeat;
    background-size: 100% 100%;






    &__title {
      color: @color-light;
      margin-top: 18px;
      margin-bottom: 31px;
      .huge-text (@fweight: 100);
    }




    &__title-form {
      margin-top: 29px;
    }





    &__pic {
      vertical-align:bottom;
    }




   &--container-form {
      padding-bottom: 25px;
    }




    &--interior {
      padding-bottom: 41px;

        .page-header__title {
          margin-top: 30px;
        }
    }
}





@media(max-width: 700px) {

}
