.page-content {
  padding: 17px 0 0 0;



  &__text {
     padding-bottom: 7px;
  }



  &__promo {
    margin-top: 28px;
    margin-bottom: 29px;
  }




  &--interior {
    padding-top: 10px;
  }
}
