.page-footer {
  margin-top: 45px;





  &__text {
    margin-bottom: 32px;
  }
}




@media(min-width: 700px) {
.page-footer__sum {
  padding-top: 20px;
  width: 100%;
  display: flex;
  &__logo {
    width: 150px;
  }
  .social {
      flex-grow: 1;
   }
  .copyright {
    width: 150px;
  }
}
.page-footer__logo {}

}
