.pagination {
  height: 64px;
  margin: 24px 0;
  padding: 0;
  font-size: 0;






  li {
    display: inline-block;
    vertical-align: top;
    float: left;
    list-style: none;
    width: 63px;
    height: 63px;
    margin-right: 9px;
    .border;
    border-radius: 3px;
    .large-text;

    &:last-child {
      margin-right: 0;
    }
  }





  &__link {
    display: block;
    width: 61px;
    height: 61px;
    padding: 14px 15px;
    .large-text(@ttransform: uppercase);
    text-decoration: none;
    color: @color-base;
    vertical-align: middle;
  }





  .active {
    border-color: @color-decor;
  }






  &--post {
    padding-top: 8px;
    padding-bottom: 25px;

    .pagination__item1 {
      width: 130px;
      margin-right: 20px;
    }




    .pagination__item2 {
      width: 130px;
      margin-right: 0;
    }




    .pagination__item3 {
      margin-top: 20px;
      width: 280px;
    }




    .pagination__link {
      width: 126px;
    }



    .return {
      width: 276px;
    }
  }
}
