.pic-list {
  list-style: none;
  width: 100%;
  padding-left: 0;
  margin-top: 32px;
  padding-top: 35px;
  border-top: 2px solid @border-color;
  font-size: 0;
  text-align: left;
  vertical-align: bottom;





  &__item {
    position: relative;
    display: inline-block;
    width: 67px;
    margin: 0 9px 22px 9px;
  }




  &__img-wrap {
    width: 100%;
    height: 67px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  &__img {
    .img-sets;
  }






  &__close {
    position: absolute;
    font-size: 10px;
    top: -14px;
    right: -12px;
    width: 33px;
    height: 33px;
    .hide-text;

    &:before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 33px;
      height: 33px;
      background: url("../img/icon-close.png") no-repeat 100% 100%;
    }
  }




  &__name {
    display: block;
    margin: 0;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    text-align: left;
  }
}




@media(min-width: 700px) {
  .pic-list {
    margin-top: 40px;
    padding-top: 65px;
    &__item {
      width: 120px;
      margin: 0 23px 45px 23px;
    }
    &__img-wrap {
      height: 120px;
      outline: 1px dotted blue;
    }
    &__name {
      font-size: 14px;
      line-height: 26px;
    }
  }
}
