.quiz {
  min-height: 1px;
  margin-bottom: 21px;
  position: relative;
  .cf;
    &:before {
        content: counters(item,".") ". ";
        counter-increment: item;
        color: green;
        position: absolute;
        top: 0;
        left: 15px;
      }



  input[name="nickname-friend"] {
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
  }





  &__symbol {
    display: block;
    width: 63px;
    margin-top: 5px;
    float: left;
    color: @color-decor;
  }




  &__symbol-hide {
    opacity: 0;
  }





  &__question {
    display: block;
    float: left;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 22px;
    color: @color-decor;
    .small-title;
    text-align: left;
  }




 &__item {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }




  &__number {
    width: 63px;
    flex: none;
    height: 63px;
    padding: 15px;
    color: @color-base;
    .large-text(@fweight: 400);
    .border;
    border-right: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }




  &__number-hide {
    opacity: 0;
  }





  &__input {
    flex-grow: 1;
    height: 63px;
    display: flex;
    margin: 0 0 10px auto;
    padding: 0 5px 0 19px;
    .border;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    .placeholder;

    &::placeholder {
      .placeholder;
    }
    // &:-moz-placeholder {
    //   .placeholder;
    //   line-height: 30px;
    // }
  }
  &__delete-btn {
    display: none;
  }
}





@media(min-width: 700px) {
  .quiz {
    margin-bottom: 0;
    width: 100%;
    padding-bottom: 25px;





    &__item {
      width: 77%;
    }





     &__question {
      padding-left: 42px;
    }





    &__number {
      margin-right: 20px;
      border-right: 2px solid @border-color;
    }







    &__delete-btn {
      display: block;
      float: right;
      width: 13%;
      height: 30px;
      margin: 58px auto 0 auto;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 14px;
      line-height: 30px;
      font-weight: 400;
      color: @color-base;



      &:active {
        color: @color-decor;
        opacity: .3;
        border-bottom: none;
        .transition;
      }
    }
  }
}





@media(min-width: 960px) {
 .quiz {
  display: flex;
  padding-bottom: 8px;

    &__delete-btn {
      order: 3;
      text-align: right;
    }





    &__item {
      width: 100%;
    }





    &__column-1 {
      margin-right: 20px;
      width: 383px;
    }





    &__column-2 {
      width: 300px;
    }





    &__input {
      width: 300px;
    }





    &__symbol-hide {
      display: none;
    }





    &__number-hide {
      display: none;
    }



    &__delete-btn {
      display: inline-block;
      width: 65px;
      margin-left: 46px;
      padding: 0;




      &:hover {
        color: @color-decor;
        border-bottom: 1px solid @color-decor;
        .transition;
      }

       &:active {
        color: @color-decor;
        opacity: .3;
        border-bottom: none;
        .transition;
      }
    }
  }
}
