.ribbon {
        position: relative;
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: " ";
        display: block;
        width: 75px;
        height: 75px;
        background: url("../img/ribbon.png") no-repeat;
        z-index: 2000;
    }
}
