.table-offer {
            width: 100%;
            .border;
            border-collapse: collapse;
            margin: 0 auto;
            width: 100%;
    &__header {
            min-height: 1px;
            color: @color-light;
            background-color: @bg-header;
        th {
            min-height: 1px;
            padding: 25px 0;
            .border;
            border-top-color:  @bg-header;
        }
    }
    &__title {
            display: block;
            padding-bottom: 16px;
    }
    &__price {
        display: block;
    }
    &__body {
            min-height: 1px;
            text-align: left;

        td {
            min-height: 1px;
            width: 75%;
            padding: 25px 24px 25px 24px;
            .border;
        }
    }
    &__status {
            width: 25%;
           .hide-text;
    }
}